# Excel
Excel is perhaps the most popular busies technology. As such, it is immensely useful that we be able to interact with Excel by either extracting data from or importing data to Excel files. To do this, we will be using the openpyxl library. This library will give us direct access to excel files. 

To be effective in our use of the openpyxl library, we need to establish some terminology that is common to Excel: An Excel document is called a workbook. A single workbook is saved in a file with the .xlsx extension. Data in the workbook are stored on worksheets. Each workbook will have one or more sheet (or worksheet). The sheet the user is currently viewing (or last viewed before closing Excel) is called the active sheet. Each sheet is a collection of cells which are arranged in columns and rows. Columns are listed alphabetically such that column ‘A’ is the first column. Rows are arranged numerically such that the first row is number 1. Cells may contain number or text values.

In [1]:
!pip install 'openpyxl==2.6.4'

Collecting openpyxl==2.6.4
  Downloading https://files.pythonhosted.org/packages/d6/26/eb28e975b7a37aad38d7ec4f7a0f652bdee6ecf36e6bd06f473c5af9b87b/openpyxl-2.6.4.tar.gz (173kB)
     |████████████████████████████████| 174kB 2.4MB/s eta 0:00:01
Requirement already satisfied: jdcal in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from openpyxl==2.6.4) (1.2)
Requirement already satisfied: et_xmlfile in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from openpyxl==2.6.4) (1.0.1)
Building wheels for collected packages: openpyxl
  Building wheel for openpyxl (setup.py) ... done
  Created wheel for openpyxl: filename=openpyxl-2.6.4-py2.py3-none-any.whl size=247352 sha256=d135575a3f64c10ab206beebdad971bcdc05e776d25f0406b3613062950214d8
  Stored in directory: /home/nbuser/.cache/pip/wheels/58/1d/e3/7c7ee57db55ac00dd5c4632287d8401cdd08ed59c965306f9c
Successfully built openpyxl
Installing collected packages: openpyxl
  Found existing installation: openpyxl 2.3.2
    Uninstalling openpyxl-2.3.2:
      Successfully uninstalled openpyxl-2.3.2
Successfully installed openpyxl-2.6.4

We start by installing the openpyxl library. The screenshot below illustrates this installation in PyCharm. In the Project 
<img src="http://thislondonhouse.hopto.org/Jupyter/Images/11-Excel-01.png" width="50%" />
Then search for ‘openpyxl’ and click install package.
<img src="http://thislondonhouse.hopto.org/Jupyter/Images/11-Excel-02.png" width="50%" />

## Accessing Workbooks
We open excel files using the openpyxl.load_workbook() method. This method accepts a string representing the location of an excel file and returns a workbook object. For more information see here: https://openpyxl.readthedocs.io/en/stable/tutorial.html

In [2]:
import openpyxl

In [ ]:
xlsxFile = 'support/censuspopdata.xlsx'
wb = openpyxl.load_workbook(xlsxFile)

Alternatively, we can create an empty workbook using the openpyxl.Workbook() method.

In [3]:
wbEmpty = openpyxl.Workbook()

For the remainder of this session, we will be using the empty workbook and we will populate it with data from the novels.txt file.

## Accessing Worksheets
Workbooks are made up of one or more worksheets. Within openpyxl, you can query the number and name of available worksheets. You can also create and delete worksheets. We can access a list of worksheet names by referencing the property .sheetnames. This property provides a list of strings that represent the sheets in the workbook. Because it is a list, it has a length and you can access individual values with index values.

In [4]:
type(wbEmpty)

openpyxl.workbook.workbook.Workbook

In [5]:
wbEmpty.sheetnames

['Sheet']

In [18]:
sheetList = wbEmpty.sheetnames
print(len(sheetList))
print(sheetList)

2
['Sheet', 'Top English Novels']

In [7]:
wbEmpty[sheetList[0]].title

'Sheet'

In [11]:
wbEmpty['Sheet'].title

'Sheet'

In [8]:
wbEmpty.active.title

'Sheet'

We create sheets using the .create_sheet() method. This method expects a string value which represents the title of the sheet. The method returns a reference to the created worksheet.

In [12]:
wbEmpty.create_sheet("Top English Novels")

In [13]:
ws = wbEmpty.create_sheet("Another Sheet")

In [16]:
ws.title

'Another Sheet'

We can delete worksheets using the .remove_sheet() method. This method expects as worksheet variable as an input parameter. The worksheet that is passed to this method is then deleted.

In [17]:
wbEmpty.remove(ws)

Worksheets are referenced using string keys which represent the title of the worksheet. The resulting variable is a worksheet object which has various methods and parameters.

In [19]:
ws = wbEmpty["Top English Novels"]

In [20]:
ws.title

'Top English Novels'

In [56]:
ws.max_row

1

In [57]:
ws.max_column

4

In [58]:
ws.min_row

1

In [59]:
ws.min_column

1

We can add elements to worksheets cell-by-cell or row-by-row. The append method is used to add rows of data. The append method expects to receive a list or tuple of values with the first element being placed in column A. Each row is appended below the bottommost row. We will look at add data to individual cells in the following section.

In [39]:
ws.append(["Author", "Title", "Year", "Rank"])

In [31]:
data = []
data.append("Author")
data.append("Title")
data.append("Year")
data.append("Rank")

In [45]:
data

['Author', 'Title', 'Year', 'Rank']

In [51]:
ws.append(data)

In [53]:
ws.delete_rows(2)

In [55]:
ws.delete_rows(2,5)

Before we move on to accessing cells, we need to populate the worksheet. The following lines write the contents of our novelList to the worksheet.

In [60]:
novelList = []
with open("support/novels.txt") as fileHandler:
    for line in fileHandler:
        rank = line[:line.find(".")].strip()
        title = line[line.find(".") + 1:line.find("(")].strip()
        author = line[line.find("(") + 1:line.find(",", line.find("("))].strip()
        year = line.strip()[-5:-1]
        novelList.append([author, title, year, rank])

In [61]:
len(novelList)

100

In [62]:
type(novelList[0])

list

In [63]:
len(novelList[0])

4

In [64]:
novelList[0]

['PG Wodehouse', 'The Code of the Woosters', '1938', '100']

In [65]:
novelList[0][0]

'PG Wodehouse'

In [66]:
for novel in novelList:
    print("Appending ", novel)
    ws.append(novel)

Appending  ['PG Wodehouse', 'The Code of the Woosters', '1938', '100']
Appending  ['Ali Smith', 'There but for the', '2011', '99']
Appending  ['Malcolm Lowry', 'Under the Volcano', '1947', '98']
Appending  ['CS Lewis', 'The Chronicles of Narnia', '1954', '97']
Appending  ['Doris Lessing', 'Memoirs of a Survivor', '1974', '96']
Appending  ['Hanif Kureishi', 'The Buddha of Suburbia', '1990', '95']
Appending  ['James Hogg', 'The Private Memoirs and Confessions of a Justified Sinner', '1824', '94']
Appending  ['William Golding', 'Lord of the Flies', '1954', '93']
Appending  ['Stella Gibbons', 'Cold Comfort Farm', '1932', '92']
Appending  ['John Galsworthy', 'The Forsyte Saga', '1922', '91']
Appending  ['Wilkie Collins', 'The Woman in White', '1859', '90']
Appending  ['Joyce Cary', 'The Horse’s Mouth', '1944', '89']
Appending  ['Elizabeth Bowen', 'The Death of the Heart', '1938', '88']
Appending  ['Arnold Bennett', 'The Old Wives’ Tale', '1908', '87']
Appending  ['Sybille Bedford', 'A Legacy', '1956', '86']
Appending  ['Pat Barker', 'Regeneration Trilogy', '1995', '85']
Appending  ['Evelyn Waugh', 'Scoop', '1938', '84']
Appending  ['Anthony Trollope', 'Barchester Towers', '1857', '83']
Appending  ['Edward St Aubyn', 'The Patrick Melrose Novels', '2012', '82']
Appending  ['Paul Scott', 'The Jewel in the Crown', '1966', '81']
Appending  ['Barbara Pym', 'Excellent Women', '1952', '80']
Appending  ['Philip Pullman', 'His Dark Materials', '2000', '79']
Appending  ['VS Naipaul', 'A House for Mr Biswas', '1961', '78']
Appending  ['W Somerset Maugham', 'Of Human Bondage', '1915', '77']
Appending  ['Andrea Levy', 'Small Island', '2004', '76']
Appending  ['DH Lawrence', 'Women in Love', '1920', '75']
Appending  ['Thomas Hardy', 'The Mayor of Casterbridge', '1886', '74']
Appending  ['Penelope Fitzgerald', 'The Blue Flower', '1995', '73']
Appending  ['Graham Greene', 'The Heart of the Matter', '1948', '72']
Appending  ['Jane Gardam', 'Old Filth', '2004', '71']
Appending  ['George Eliot', 'Daniel Deronda', '1876', '70']
Appending  ['Joseph Conrad', 'Nostromo', '1904', '69']
Appending  ['Anthony Burgess', 'A Clockwork Orange', '1962', '68']
Appending  ['JG  Ballard 1973)', 'Crash', '1973', '67']
Appending  ['Jane Austen', 'Sense and Sensibility', '1811', '66']
Appending  ['Virginia Woolf', 'Orlando', '1928', '65']
Appending  ['Anthony Trollope', 'The Way We Live Now', '1875', '64']
Appending  ['Muriel Spark', 'The Prime of Miss Jean Brodie', '1961', '63']
Appending  ['George Orwell', 'Animal Farm', '1945', '62']
Appending  ['Iris Murdoch', 'The Sea, The Sea', '1978', '61']
Appending  ['DH Lawrence', 'Sons and Lovers', '1913', '60']
Appending  ['Alan Hollinghurst', 'The Line of Beauty', '2004', '59']
Appending  ['Henry Green', 'Loving', '1945', '58']
Appending  ['Ford Madox Ford', 'Parade’s End', '1928', '57']
Appending  ['Jeanette Winterson', 'Oranges Are Not the Only Fruit', '1985', '56']
Appending  ['Jonathan Swift', 'Gulliver’s Travels', '1726', '55']
Appending  ['Zadie Smith', 'NW', '2012', '54']
Appending  ['Jean Rhys', 'Wide Sargasso Sea', '1966', '53']
Appending  ['George Gissing', 'New Grub Street', '1891', '52']
Appending  ['Thomas Hardy', 'Tess of the d’Urbervilles', '1891', '51']
Appending  ['EM Forster', 'A Passage to India', '1924', '50']
Appending  ['AS Byatt', 'Possession', '1990', '49']
Appending  ['Kingsley Amis', 'Lucky Jim', '1954', '48']
Appending  ['Laurence Sterne', 'The Life and Opinions of Tristram Shandy, Gentleman', '1759', '47']
Appending  ['Salman Rushdie', 'Midnight’s Children', '1981', '46']
Appending  ['Sarah Waters', 'The Little Stranger', '2009', '45']
Appending  ['Hilary Mantel', 'Wolf Hall', '2009', '44']
Appending  ['Alan Hollinghurst', 'The Swimming Pool Library', '1988', '43']
Appending  ['Graham Greene', 'Brighton Rock', '1938', '42']
Appending  ['Charles Dickens', 'Dombey and Son', '1848', '41']
Appending  ['Lewis Carroll', 'Alice’s Adventures in Wonderland', '1865', '40']
Appending  ['Julian Barnes', 'The Sense of an Ending', '2011', '39']
Appending  ['Jeanette Winterson', 'The Passion', '1987', '38']
Appending  ['Evelyn Waugh', 'Decline and Fall', '1928', '37']
Appending  ['Anthony Powell', 'A Dance to the Music of Time', '1975', '36']
Appending  ['Tom McCarthy', 'Remainder', '2005', '35']
Appending  ['Kazuo Ishiguro', 'Never Let Me Go', '2005', '34']
Appending  ['Kenneth Grahame', 'The Wind in the Willows', '1908', '33']
Appending  ['EM Forster', 'A Room with a View', '1908', '32']
Appending  ['Graham Greene', 'The End of the Affair', '1951', '31']
Appending  ['Daniel Defoe', 'Moll Flanders', '1722', '30']
Appending  ['Monica Ali', 'Brick Lane', '2003', '29']
Appending  ['Charlotte Brontë', 'Villette', '1853', '28']
Appending  ['Daniel Defoe', 'Robinson Crusoe', '1719', '27']
Appending  ['JRR Tolkien', 'The Lord of the Rings', '1954', '26']
Appending  ['Zadie Smith', 'White Teeth', '2000', '25']
Appending  ['Doris Lessing', 'The Golden Notebook', '1962', '24']
Appending  ['Thomas Hardy', 'Jude the Obscure', '1895', '23']
Appending  ['Henry Fielding', 'The History of Tom Jones, a Foundling', '1749', '22']
Appending  ['Joseph Conrad', 'Heart of Darkness', '1899', '21']
Appending  ['Jane Austen', 'Persuasion', '1817', '20']
Appending  ['Jane Austen', 'Emma', '1815', '19']
Appending  ['Kazuo Ishiguro', 'Remains of the Day', '1989', '18']
Appending  ['EM Forster', 'Howards End', '1910', '17']
Appending  ['Virginia Woolf', 'The Waves', '1931', '16']
Appending  ['Ian McEwan', 'Atonement', '2001', '15']
Appending  ['Samuel Richardson', 'Clarissa', '1748', '14']
Appending  ['Ford Madox Ford', 'The Good Soldier', '1915', '13']
Appending  ['George Orwell', 'Nineteen Eighty-Four', '1949', '12']
Appending  ['Jane Austen', 'Pride and Prejudice', '1813', '11']
Appending  ['William Makepeace Thackeray', 'Vanity Fair', '1848', '10']
Appending  ['Mary Shelley', 'Frankenstein', '1818', '9']
Appending  ['Charles Dickens', 'David Copperfield', '1850', '8']
Appending  ['Emily Brontë', 'Wuthering Heights', '1847', '7']
Appending  ['Charles Dickens', 'Bleak House', '1853', '6']
Appending  ['Charlotte Brontë', 'Jane Eyre', '1847', '5']
Appending  ['Charles Dickens', 'Great Expectations', '1861', '4']
Appending  ['Virginia Woolf', 'Mrs. Dalloway', '1925', '3']
Appending  ['Virginia Woolf', 'To the Lighthouse', '1927', '2']
Appending  ['George Eliot', 'Middlemarch', '1874', '1']

## Accessing Cells
Openpyxl offers a variety of methods for accessing cells. In the following code, we will look at methods for accessing single cells, rows of cell and columns of cells. First, you can access cells by referencing column/row position of the cell. In Excel, columns are given character values while rows are given numeric values. You can use these to access a specific cell.

In [67]:
print(ws['A1'])

<Cell 'Top English Novels'.A1>

In [68]:
cellRef = "C" + str(ws.max_row)
print(ws[cellRef])

<Cell 'Top English Novels'.C101>

Accessing a cell in this way retrieves a cell object. This object has properties and methods that give your application to various cell attributes.

In [70]:
cell = ws[cellRef]

In [71]:
cell.value

'1874'

In [72]:
cell.coordinate

'C101'

In [73]:
cell.row

101

In [74]:
cell.column

3

It is important to keep this in mind as you will want access the .value of a cell and not the cell itself. This makes sense if you think about all of the things you can do to cells beyond simply entering a value (e.g., labels, colors, formatting, etc.), but it is not how we are accustomed to thinking about cells in Excel. 

Second, we can access cells by row. When accessing cells by row, we retrieve one or more rows that contains one or more cells. Below are three different approaches to accessing rows. The first retrieves all rows and iterates through each row. The second retrieves a single row based on it’s string representation. The final method retrieves a subset of rows between some set of boundaries.

In [83]:
for row in ws.rows:
    print(row)

(<Cell 'Top English Novels'.A1>, <Cell 'Top English Novels'.B1>, <Cell 'Top English Novels'.C1>, <Cell 'Top English Novels'.D1>)
(<Cell 'Top English Novels'.A2>, <Cell 'Top English Novels'.B2>, <Cell 'Top English Novels'.C2>, <Cell 'Top English Novels'.D2>)
(<Cell 'Top English Novels'.A3>, <Cell 'Top English Novels'.B3>, <Cell 'Top English Novels'.C3>, <Cell 'Top English Novels'.D3>)
(<Cell 'Top English Novels'.A4>, <Cell 'Top English Novels'.B4>, <Cell 'Top English Novels'.C4>, <Cell 'Top English Novels'.D4>)
(<Cell 'Top English Novels'.A5>, <Cell 'Top English Novels'.B5>, <Cell 'Top English Novels'.C5>, <Cell 'Top English Novels'.D5>)
(<Cell 'Top English Novels'.A6>, <Cell 'Top English Novels'.B6>, <Cell 'Top English Novels'.C6>, <Cell 'Top English Novels'.D6>)
(<Cell 'Top English Novels'.A7>, <Cell 'Top English Novels'.B7>, <Cell 'Top English Novels'.C7>, <Cell 'Top English Novels'.D7>)
(<Cell 'Top English Novels'.A8>, <Cell 'Top English Novels'.B8>, <Cell 'Top English Novels'.C8>, <Cell 'Top English Novels'.D8>)
(<Cell 'Top English Novels'.A9>, <Cell 'Top English Novels'.B9>, <Cell 'Top English Novels'.C9>, <Cell 'Top English Novels'.D9>)
(<Cell 'Top English Novels'.A10>, <Cell 'Top English Novels'.B10>, <Cell 'Top English Novels'.C10>, <Cell 'Top English Novels'.D10>)
(<Cell 'Top English Novels'.A11>, <Cell 'Top English Novels'.B11>, <Cell 'Top English Novels'.C11>, <Cell 'Top English Novels'.D11>)
(<Cell 'Top English Novels'.A12>, <Cell 'Top English Novels'.B12>, <Cell 'Top English Novels'.C12>, <Cell 'Top English Novels'.D12>)
(<Cell 'Top English Novels'.A13>, <Cell 'Top English Novels'.B13>, <Cell 'Top English Novels'.C13>, <Cell 'Top English Novels'.D13>)
(<Cell 'Top English Novels'.A14>, <Cell 'Top English Novels'.B14>, <Cell 'Top English Novels'.C14>, <Cell 'Top English Novels'.D14>)
(<Cell 'Top English Novels'.A15>, <Cell 'Top English Novels'.B15>, <Cell 'Top English Novels'.C15>, <Cell 'Top English Novels'.D15>)
(<Cell 'Top English Novels'.A16>, <Cell 'Top English Novels'.B16>, <Cell 'Top English Novels'.C16>, <Cell 'Top English Novels'.D16>)
(<Cell 'Top English Novels'.A17>, <Cell 'Top English Novels'.B17>, <Cell 'Top English Novels'.C17>, <Cell 'Top English Novels'.D17>)
(<Cell 'Top English Novels'.A18>, <Cell 'Top English Novels'.B18>, <Cell 'Top English Novels'.C18>, <Cell 'Top English Novels'.D18>)
(<Cell 'Top English Novels'.A19>, <Cell 'Top English Novels'.B19>, <Cell 'Top English Novels'.C19>, <Cell 'Top English Novels'.D19>)
(<Cell 'Top English Novels'.A20>, <Cell 'Top English Novels'.B20>, <Cell 'Top English Novels'.C20>, <Cell 'Top English Novels'.D20>)
(<Cell 'Top English Novels'.A21>, <Cell 'Top English Novels'.B21>, <Cell 'Top English Novels'.C21>, <Cell 'Top English Novels'.D21>)
(<Cell 'Top English Novels'.A22>, <Cell 'Top English Novels'.B22>, <Cell 'Top English Novels'.C22>, <Cell 'Top English Novels'.D22>)
(<Cell 'Top English Novels'.A23>, <Cell 'Top English Novels'.B23>, <Cell 'Top English Novels'.C23>, <Cell 'Top English Novels'.D23>)
(<Cell 'Top English Novels'.A24>, <Cell 'Top English Novels'.B24>, <Cell 'Top English Novels'.C24>, <Cell 'Top English Novels'.D24>)
(<Cell 'Top English Novels'.A25>, <Cell 'Top English Novels'.B25>, <Cell 'Top English Novels'.C25>, <Cell 'Top English Novels'.D25>)
(<Cell 'Top English Novels'.A26>, <Cell 'Top English Novels'.B26>, <Cell 'Top English Novels'.C26>, <Cell 'Top English Novels'.D26>)
(<Cell 'Top English Novels'.A27>, <Cell 'Top English Novels'.B27>, <Cell 'Top English Novels'.C27>, <Cell 'Top English Novels'.D27>)
(<Cell 'Top English Novels'.A28>, <Cell 'Top English Novels'.B28>, <Cell 'Top English Novels'.C28>, <Cell 'Top English Novels'.D28>)
(<Cell 'Top English Novels'.A29>, <Cell 'Top English Novels'.B29>, <Cell 'Top English Novels'.C29>, <Cell 'Top English Novels'.D29>)
(<Cell 'Top English Novels'.A30>, <Cell 'Top English Novels'.B30>, <Cell 'Top English Novels'.C30>, <Cell 'Top English Novels'.D30>)
(<Cell 'Top English Novels'.A31>, <Cell 'Top English Novels'.B31>, <Cell 'Top English Novels'.C31>, <Cell 'Top English Novels'.D31>)
(<Cell 'Top English Novels'.A32>, <Cell 'Top English Novels'.B32>, <Cell 'Top English Novels'.C32>, <Cell 'Top English Novels'.D32>)
(<Cell 'Top English Novels'.A33>, <Cell 'Top English Novels'.B33>, <Cell 'Top English Novels'.C33>, <Cell 'Top English Novels'.D33>)
(<Cell 'Top English Novels'.A34>, <Cell 'Top English Novels'.B34>, <Cell 'Top English Novels'.C34>, <Cell 'Top English Novels'.D34>)
(<Cell 'Top English Novels'.A35>, <Cell 'Top English Novels'.B35>, <Cell 'Top English Novels'.C35>, <Cell 'Top English Novels'.D35>)
(<Cell 'Top English Novels'.A36>, <Cell 'Top English Novels'.B36>, <Cell 'Top English Novels'.C36>, <Cell 'Top English Novels'.D36>)
(<Cell 'Top English Novels'.A37>, <Cell 'Top English Novels'.B37>, <Cell 'Top English Novels'.C37>, <Cell 'Top English Novels'.D37>)
(<Cell 'Top English Novels'.A38>, <Cell 'Top English Novels'.B38>, <Cell 'Top English Novels'.C38>, <Cell 'Top English Novels'.D38>)
(<Cell 'Top English Novels'.A39>, <Cell 'Top English Novels'.B39>, <Cell 'Top English Novels'.C39>, <Cell 'Top English Novels'.D39>)
(<Cell 'Top English Novels'.A40>, <Cell 'Top English Novels'.B40>, <Cell 'Top English Novels'.C40>, <Cell 'Top English Novels'.D40>)
(<Cell 'Top English Novels'.A41>, <Cell 'Top English Novels'.B41>, <Cell 'Top English Novels'.C41>, <Cell 'Top English Novels'.D41>)
(<Cell 'Top English Novels'.A42>, <Cell 'Top English Novels'.B42>, <Cell 'Top English Novels'.C42>, <Cell 'Top English Novels'.D42>)
(<Cell 'Top English Novels'.A43>, <Cell 'Top English Novels'.B43>, <Cell 'Top English Novels'.C43>, <Cell 'Top English Novels'.D43>)
(<Cell 'Top English Novels'.A44>, <Cell 'Top English Novels'.B44>, <Cell 'Top English Novels'.C44>, <Cell 'Top English Novels'.D44>)
(<Cell 'Top English Novels'.A45>, <Cell 'Top English Novels'.B45>, <Cell 'Top English Novels'.C45>, <Cell 'Top English Novels'.D45>)
(<Cell 'Top English Novels'.A46>, <Cell 'Top English Novels'.B46>, <Cell 'Top English Novels'.C46>, <Cell 'Top English Novels'.D46>)
(<Cell 'Top English Novels'.A47>, <Cell 'Top English Novels'.B47>, <Cell 'Top English Novels'.C47>, <Cell 'Top English Novels'.D47>)
(<Cell 'Top English Novels'.A48>, <Cell 'Top English Novels'.B48>, <Cell 'Top English Novels'.C48>, <Cell 'Top English Novels'.D48>)
(<Cell 'Top English Novels'.A49>, <Cell 'Top English Novels'.B49>, <Cell 'Top English Novels'.C49>, <Cell 'Top English Novels'.D49>)
(<Cell 'Top English Novels'.A50>, <Cell 'Top English Novels'.B50>, <Cell 'Top English Novels'.C50>, <Cell 'Top English Novels'.D50>)
(<Cell 'Top English Novels'.A51>, <Cell 'Top English Novels'.B51>, <Cell 'Top English Novels'.C51>, <Cell 'Top English Novels'.D51>)
(<Cell 'Top English Novels'.A52>, <Cell 'Top English Novels'.B52>, <Cell 'Top English Novels'.C52>, <Cell 'Top English Novels'.D52>)
(<Cell 'Top English Novels'.A53>, <Cell 'Top English Novels'.B53>, <Cell 'Top English Novels'.C53>, <Cell 'Top English Novels'.D53>)
(<Cell 'Top English Novels'.A54>, <Cell 'Top English Novels'.B54>, <Cell 'Top English Novels'.C54>, <Cell 'Top English Novels'.D54>)
(<Cell 'Top English Novels'.A55>, <Cell 'Top English Novels'.B55>, <Cell 'Top English Novels'.C55>, <Cell 'Top English Novels'.D55>)
(<Cell 'Top English Novels'.A56>, <Cell 'Top English Novels'.B56>, <Cell 'Top English Novels'.C56>, <Cell 'Top English Novels'.D56>)
(<Cell 'Top English Novels'.A57>, <Cell 'Top English Novels'.B57>, <Cell 'Top English Novels'.C57>, <Cell 'Top English Novels'.D57>)
(<Cell 'Top English Novels'.A58>, <Cell 'Top English Novels'.B58>, <Cell 'Top English Novels'.C58>, <Cell 'Top English Novels'.D58>)
(<Cell 'Top English Novels'.A59>, <Cell 'Top English Novels'.B59>, <Cell 'Top English Novels'.C59>, <Cell 'Top English Novels'.D59>)
(<Cell 'Top English Novels'.A60>, <Cell 'Top English Novels'.B60>, <Cell 'Top English Novels'.C60>, <Cell 'Top English Novels'.D60>)
(<Cell 'Top English Novels'.A61>, <Cell 'Top English Novels'.B61>, <Cell 'Top English Novels'.C61>, <Cell 'Top English Novels'.D61>)
(<Cell 'Top English Novels'.A62>, <Cell 'Top English Novels'.B62>, <Cell 'Top English Novels'.C62>, <Cell 'Top English Novels'.D62>)
(<Cell 'Top English Novels'.A63>, <Cell 'Top English Novels'.B63>, <Cell 'Top English Novels'.C63>, <Cell 'Top English Novels'.D63>)
(<Cell 'Top English Novels'.A64>, <Cell 'Top English Novels'.B64>, <Cell 'Top English Novels'.C64>, <Cell 'Top English Novels'.D64>)
(<Cell 'Top English Novels'.A65>, <Cell 'Top English Novels'.B65>, <Cell 'Top English Novels'.C65>, <Cell 'Top English Novels'.D65>)
(<Cell 'Top English Novels'.A66>, <Cell 'Top English Novels'.B66>, <Cell 'Top English Novels'.C66>, <Cell 'Top English Novels'.D66>)
(<Cell 'Top English Novels'.A67>, <Cell 'Top English Novels'.B67>, <Cell 'Top English Novels'.C67>, <Cell 'Top English Novels'.D67>)
(<Cell 'Top English Novels'.A68>, <Cell 'Top English Novels'.B68>, <Cell 'Top English Novels'.C68>, <Cell 'Top English Novels'.D68>)
(<Cell 'Top English Novels'.A69>, <Cell 'Top English Novels'.B69>, <Cell 'Top English Novels'.C69>, <Cell 'Top English Novels'.D69>)
(<Cell 'Top English Novels'.A70>, <Cell 'Top English Novels'.B70>, <Cell 'Top English Novels'.C70>, <Cell 'Top English Novels'.D70>)
(<Cell 'Top English Novels'.A71>, <Cell 'Top English Novels'.B71>, <Cell 'Top English Novels'.C71>, <Cell 'Top English Novels'.D71>)
(<Cell 'Top English Novels'.A72>, <Cell 'Top English Novels'.B72>, <Cell 'Top English Novels'.C72>, <Cell 'Top English Novels'.D72>)
(<Cell 'Top English Novels'.A73>, <Cell 'Top English Novels'.B73>, <Cell 'Top English Novels'.C73>, <Cell 'Top English Novels'.D73>)
(<Cell 'Top English Novels'.A74>, <Cell 'Top English Novels'.B74>, <Cell 'Top English Novels'.C74>, <Cell 'Top English Novels'.D74>)
(<Cell 'Top English Novels'.A75>, <Cell 'Top English Novels'.B75>, <Cell 'Top English Novels'.C75>, <Cell 'Top English Novels'.D75>)
(<Cell 'Top English Novels'.A76>, <Cell 'Top English Novels'.B76>, <Cell 'Top English Novels'.C76>, <Cell 'Top English Novels'.D76>)
(<Cell 'Top English Novels'.A77>, <Cell 'Top English Novels'.B77>, <Cell 'Top English Novels'.C77>, <Cell 'Top English Novels'.D77>)
(<Cell 'Top English Novels'.A78>, <Cell 'Top English Novels'.B78>, <Cell 'Top English Novels'.C78>, <Cell 'Top English Novels'.D78>)
(<Cell 'Top English Novels'.A79>, <Cell 'Top English Novels'.B79>, <Cell 'Top English Novels'.C79>, <Cell 'Top English Novels'.D79>)
(<Cell 'Top English Novels'.A80>, <Cell 'Top English Novels'.B80>, <Cell 'Top English Novels'.C80>, <Cell 'Top English Novels'.D80>)
(<Cell 'Top English Novels'.A81>, <Cell 'Top English Novels'.B81>, <Cell 'Top English Novels'.C81>, <Cell 'Top English Novels'.D81>)
(<Cell 'Top English Novels'.A82>, <Cell 'Top English Novels'.B82>, <Cell 'Top English Novels'.C82>, <Cell 'Top English Novels'.D82>)
(<Cell 'Top English Novels'.A83>, <Cell 'Top English Novels'.B83>, <Cell 'Top English Novels'.C83>, <Cell 'Top English Novels'.D83>)
(<Cell 'Top English Novels'.A84>, <Cell 'Top English Novels'.B84>, <Cell 'Top English Novels'.C84>, <Cell 'Top English Novels'.D84>)
(<Cell 'Top English Novels'.A85>, <Cell 'Top English Novels'.B85>, <Cell 'Top English Novels'.C85>, <Cell 'Top English Novels'.D85>)
(<Cell 'Top English Novels'.A86>, <Cell 'Top English Novels'.B86>, <Cell 'Top English Novels'.C86>, <Cell 'Top English Novels'.D86>)
(<Cell 'Top English Novels'.A87>, <Cell 'Top English Novels'.B87>, <Cell 'Top English Novels'.C87>, <Cell 'Top English Novels'.D87>)
(<Cell 'Top English Novels'.A88>, <Cell 'Top English Novels'.B88>, <Cell 'Top English Novels'.C88>, <Cell 'Top English Novels'.D88>)
(<Cell 'Top English Novels'.A89>, <Cell 'Top English Novels'.B89>, <Cell 'Top English Novels'.C89>, <Cell 'Top English Novels'.D89>)
(<Cell 'Top English Novels'.A90>, <Cell 'Top English Novels'.B90>, <Cell 'Top English Novels'.C90>, <Cell 'Top English Novels'.D90>)
(<Cell 'Top English Novels'.A91>, <Cell 'Top English Novels'.B91>, <Cell 'Top English Novels'.C91>, <Cell 'Top English Novels'.D91>)
(<Cell 'Top English Novels'.A92>, <Cell 'Top English Novels'.B92>, <Cell 'Top English Novels'.C92>, <Cell 'Top English Novels'.D92>)
(<Cell 'Top English Novels'.A93>, <Cell 'Top English Novels'.B93>, <Cell 'Top English Novels'.C93>, <Cell 'Top English Novels'.D93>)
(<Cell 'Top English Novels'.A94>, <Cell 'Top English Novels'.B94>, <Cell 'Top English Novels'.C94>, <Cell 'Top English Novels'.D94>)
(<Cell 'Top English Novels'.A95>, <Cell 'Top English Novels'.B95>, <Cell 'Top English Novels'.C95>, <Cell 'Top English Novels'.D95>)
(<Cell 'Top English Novels'.A96>, <Cell 'Top English Novels'.B96>, <Cell 'Top English Novels'.C96>, <Cell 'Top English Novels'.D96>)
(<Cell 'Top English Novels'.A97>, <Cell 'Top English Novels'.B97>, <Cell 'Top English Novels'.C97>, <Cell 'Top English Novels'.D97>)
(<Cell 'Top English Novels'.A98>, <Cell 'Top English Novels'.B98>, <Cell 'Top English Novels'.C98>, <Cell 'Top English Novels'.D98>)
(<Cell 'Top English Novels'.A99>, <Cell 'Top English Novels'.B99>, <Cell 'Top English Novels'.C99>, <Cell 'Top English Novels'.D99>)
(<Cell 'Top English Novels'.A100>, <Cell 'Top English Novels'.B100>, <Cell 'Top English Novels'.C100>, <Cell 'Top English Novels'.D100>)
(<Cell 'Top English Novels'.A101>, <Cell 'Top English Novels'.B101>, <Cell 'Top English Novels'.C101>, <Cell 'Top English Novels'.D101>)

In [79]:
for cell in ws['22']:
    print(cell.value)

Barbara Pym
Excellent Women
1952
80

In [81]:
for row in ws.iter_rows(min_row=2, max_row=20):
    print(row)

(<Cell 'Top English Novels'.A2>, <Cell 'Top English Novels'.B2>, <Cell 'Top English Novels'.C2>, <Cell 'Top English Novels'.D2>)
(<Cell 'Top English Novels'.A3>, <Cell 'Top English Novels'.B3>, <Cell 'Top English Novels'.C3>, <Cell 'Top English Novels'.D3>)
(<Cell 'Top English Novels'.A4>, <Cell 'Top English Novels'.B4>, <Cell 'Top English Novels'.C4>, <Cell 'Top English Novels'.D4>)
(<Cell 'Top English Novels'.A5>, <Cell 'Top English Novels'.B5>, <Cell 'Top English Novels'.C5>, <Cell 'Top English Novels'.D5>)
(<Cell 'Top English Novels'.A6>, <Cell 'Top English Novels'.B6>, <Cell 'Top English Novels'.C6>, <Cell 'Top English Novels'.D6>)
(<Cell 'Top English Novels'.A7>, <Cell 'Top English Novels'.B7>, <Cell 'Top English Novels'.C7>, <Cell 'Top English Novels'.D7>)
(<Cell 'Top English Novels'.A8>, <Cell 'Top English Novels'.B8>, <Cell 'Top English Novels'.C8>, <Cell 'Top English Novels'.D8>)
(<Cell 'Top English Novels'.A9>, <Cell 'Top English Novels'.B9>, <Cell 'Top English Novels'.C9>, <Cell 'Top English Novels'.D9>)
(<Cell 'Top English Novels'.A10>, <Cell 'Top English Novels'.B10>, <Cell 'Top English Novels'.C10>, <Cell 'Top English Novels'.D10>)
(<Cell 'Top English Novels'.A11>, <Cell 'Top English Novels'.B11>, <Cell 'Top English Novels'.C11>, <Cell 'Top English Novels'.D11>)
(<Cell 'Top English Novels'.A12>, <Cell 'Top English Novels'.B12>, <Cell 'Top English Novels'.C12>, <Cell 'Top English Novels'.D12>)
(<Cell 'Top English Novels'.A13>, <Cell 'Top English Novels'.B13>, <Cell 'Top English Novels'.C13>, <Cell 'Top English Novels'.D13>)
(<Cell 'Top English Novels'.A14>, <Cell 'Top English Novels'.B14>, <Cell 'Top English Novels'.C14>, <Cell 'Top English Novels'.D14>)
(<Cell 'Top English Novels'.A15>, <Cell 'Top English Novels'.B15>, <Cell 'Top English Novels'.C15>, <Cell 'Top English Novels'.D15>)
(<Cell 'Top English Novels'.A16>, <Cell 'Top English Novels'.B16>, <Cell 'Top English Novels'.C16>, <Cell 'Top English Novels'.D16>)
(<Cell 'Top English Novels'.A17>, <Cell 'Top English Novels'.B17>, <Cell 'Top English Novels'.C17>, <Cell 'Top English Novels'.D17>)
(<Cell 'Top English Novels'.A18>, <Cell 'Top English Novels'.B18>, <Cell 'Top English Novels'.C18>, <Cell 'Top English Novels'.D18>)
(<Cell 'Top English Novels'.A19>, <Cell 'Top English Novels'.B19>, <Cell 'Top English Novels'.C19>, <Cell 'Top English Novels'.D19>)
(<Cell 'Top English Novels'.A20>, <Cell 'Top English Novels'.B20>, <Cell 'Top English Novels'.C20>, <Cell 'Top English Novels'.D20>)

Finally, we can access cells by column. Just as when accessing cells by row, we retrieve one or more row that contains one or more cells. For columns, we have the same alternatives available to us: accessing all columns, accessing a specific column, accessing some subset of columns based on boundary columns.

In [82]:
for col in ws.columns:
    print(col)

(<Cell 'Top English Novels'.A1>, <Cell 'Top English Novels'.A2>, <Cell 'Top English Novels'.A3>, <Cell 'Top English Novels'.A4>, <Cell 'Top English Novels'.A5>, <Cell 'Top English Novels'.A6>, <Cell 'Top English Novels'.A7>, <Cell 'Top English Novels'.A8>, <Cell 'Top English Novels'.A9>, <Cell 'Top English Novels'.A10>, <Cell 'Top English Novels'.A11>, <Cell 'Top English Novels'.A12>, <Cell 'Top English Novels'.A13>, <Cell 'Top English Novels'.A14>, <Cell 'Top English Novels'.A15>, <Cell 'Top English Novels'.A16>, <Cell 'Top English Novels'.A17>, <Cell 'Top English Novels'.A18>, <Cell 'Top English Novels'.A19>, <Cell 'Top English Novels'.A20>, <Cell 'Top English Novels'.A21>, <Cell 'Top English Novels'.A22>, <Cell 'Top English Novels'.A23>, <Cell 'Top English Novels'.A24>, <Cell 'Top English Novels'.A25>, <Cell 'Top English Novels'.A26>, <Cell 'Top English Novels'.A27>, <Cell 'Top English Novels'.A28>, <Cell 'Top English Novels'.A29>, <Cell 'Top English Novels'.A30>, <Cell 'Top English Novels'.A31>, <Cell 'Top English Novels'.A32>, <Cell 'Top English Novels'.A33>, <Cell 'Top English Novels'.A34>, <Cell 'Top English Novels'.A35>, <Cell 'Top English Novels'.A36>, <Cell 'Top English Novels'.A37>, <Cell 'Top English Novels'.A38>, <Cell 'Top English Novels'.A39>, <Cell 'Top English Novels'.A40>, <Cell 'Top English Novels'.A41>, <Cell 'Top English Novels'.A42>, <Cell 'Top English Novels'.A43>, <Cell 'Top English Novels'.A44>, <Cell 'Top English Novels'.A45>, <Cell 'Top English Novels'.A46>, <Cell 'Top English Novels'.A47>, <Cell 'Top English Novels'.A48>, <Cell 'Top English Novels'.A49>, <Cell 'Top English Novels'.A50>, <Cell 'Top English Novels'.A51>, <Cell 'Top English Novels'.A52>, <Cell 'Top English Novels'.A53>, <Cell 'Top English Novels'.A54>, <Cell 'Top English Novels'.A55>, <Cell 'Top English Novels'.A56>, <Cell 'Top English Novels'.A57>, <Cell 'Top English Novels'.A58>, <Cell 'Top English Novels'.A59>, <Cell 'Top English Novels'.A60>, <Cell 'Top English Novels'.A61>, <Cell 'Top English Novels'.A62>, <Cell 'Top English Novels'.A63>, <Cell 'Top English Novels'.A64>, <Cell 'Top English Novels'.A65>, <Cell 'Top English Novels'.A66>, <Cell 'Top English Novels'.A67>, <Cell 'Top English Novels'.A68>, <Cell 'Top English Novels'.A69>, <Cell 'Top English Novels'.A70>, <Cell 'Top English Novels'.A71>, <Cell 'Top English Novels'.A72>, <Cell 'Top English Novels'.A73>, <Cell 'Top English Novels'.A74>, <Cell 'Top English Novels'.A75>, <Cell 'Top English Novels'.A76>, <Cell 'Top English Novels'.A77>, <Cell 'Top English Novels'.A78>, <Cell 'Top English Novels'.A79>, <Cell 'Top English Novels'.A80>, <Cell 'Top English Novels'.A81>, <Cell 'Top English Novels'.A82>, <Cell 'Top English Novels'.A83>, <Cell 'Top English Novels'.A84>, <Cell 'Top English Novels'.A85>, <Cell 'Top English Novels'.A86>, <Cell 'Top English Novels'.A87>, <Cell 'Top English Novels'.A88>, <Cell 'Top English Novels'.A89>, <Cell 'Top English Novels'.A90>, <Cell 'Top English Novels'.A91>, <Cell 'Top English Novels'.A92>, <Cell 'Top English Novels'.A93>, <Cell 'Top English Novels'.A94>, <Cell 'Top English Novels'.A95>, <Cell 'Top English Novels'.A96>, <Cell 'Top English Novels'.A97>, <Cell 'Top English Novels'.A98>, <Cell 'Top English Novels'.A99>, <Cell 'Top English Novels'.A100>, <Cell 'Top English Novels'.A101>)
(<Cell 'Top English Novels'.B1>, <Cell 'Top English Novels'.B2>, <Cell 'Top English Novels'.B3>, <Cell 'Top English Novels'.B4>, <Cell 'Top English Novels'.B5>, <Cell 'Top English Novels'.B6>, <Cell 'Top English Novels'.B7>, <Cell 'Top English Novels'.B8>, <Cell 'Top English Novels'.B9>, <Cell 'Top English Novels'.B10>, <Cell 'Top English Novels'.B11>, <Cell 'Top English Novels'.B12>, <Cell 'Top English Novels'.B13>, <Cell 'Top English Novels'.B14>, <Cell 'Top English Novels'.B15>, <Cell 'Top English Novels'.B16>, <Cell 'Top English Novels'.B17>, <Cell 'Top English Novels'.B18>, <Cell 'Top English Novels'.B19>, <Cell 'Top English Novels'.B20>, <Cell 'Top English Novels'.B21>, <Cell 'Top English Novels'.B22>, <Cell 'Top English Novels'.B23>, <Cell 'Top English Novels'.B24>, <Cell 'Top English Novels'.B25>, <Cell 'Top English Novels'.B26>, <Cell 'Top English Novels'.B27>, <Cell 'Top English Novels'.B28>, <Cell 'Top English Novels'.B29>, <Cell 'Top English Novels'.B30>, <Cell 'Top English Novels'.B31>, <Cell 'Top English Novels'.B32>, <Cell 'Top English Novels'.B33>, <Cell 'Top English Novels'.B34>, <Cell 'Top English Novels'.B35>, <Cell 'Top English Novels'.B36>, <Cell 'Top English Novels'.B37>, <Cell 'Top English Novels'.B38>, <Cell 'Top English Novels'.B39>, <Cell 'Top English Novels'.B40>, <Cell 'Top English Novels'.B41>, <Cell 'Top English Novels'.B42>, <Cell 'Top English Novels'.B43>, <Cell 'Top English Novels'.B44>, <Cell 'Top English Novels'.B45>, <Cell 'Top English Novels'.B46>, <Cell 'Top English Novels'.B47>, <Cell 'Top English Novels'.B48>, <Cell 'Top English Novels'.B49>, <Cell 'Top English Novels'.B50>, <Cell 'Top English Novels'.B51>, <Cell 'Top English Novels'.B52>, <Cell 'Top English Novels'.B53>, <Cell 'Top English Novels'.B54>, <Cell 'Top English Novels'.B55>, <Cell 'Top English Novels'.B56>, <Cell 'Top English Novels'.B57>, <Cell 'Top English Novels'.B58>, <Cell 'Top English Novels'.B59>, <Cell 'Top English Novels'.B60>, <Cell 'Top English Novels'.B61>, <Cell 'Top English Novels'.B62>, <Cell 'Top English Novels'.B63>, <Cell 'Top English Novels'.B64>, <Cell 'Top English Novels'.B65>, <Cell 'Top English Novels'.B66>, <Cell 'Top English Novels'.B67>, <Cell 'Top English Novels'.B68>, <Cell 'Top English Novels'.B69>, <Cell 'Top English Novels'.B70>, <Cell 'Top English Novels'.B71>, <Cell 'Top English Novels'.B72>, <Cell 'Top English Novels'.B73>, <Cell 'Top English Novels'.B74>, <Cell 'Top English Novels'.B75>, <Cell 'Top English Novels'.B76>, <Cell 'Top English Novels'.B77>, <Cell 'Top English Novels'.B78>, <Cell 'Top English Novels'.B79>, <Cell 'Top English Novels'.B80>, <Cell 'Top English Novels'.B81>, <Cell 'Top English Novels'.B82>, <Cell 'Top English Novels'.B83>, <Cell 'Top English Novels'.B84>, <Cell 'Top English Novels'.B85>, <Cell 'Top English Novels'.B86>, <Cell 'Top English Novels'.B87>, <Cell 'Top English Novels'.B88>, <Cell 'Top English Novels'.B89>, <Cell 'Top English Novels'.B90>, <Cell 'Top English Novels'.B91>, <Cell 'Top English Novels'.B92>, <Cell 'Top English Novels'.B93>, <Cell 'Top English Novels'.B94>, <Cell 'Top English Novels'.B95>, <Cell 'Top English Novels'.B96>, <Cell 'Top English Novels'.B97>, <Cell 'Top English Novels'.B98>, <Cell 'Top English Novels'.B99>, <Cell 'Top English Novels'.B100>, <Cell 'Top English Novels'.B101>)
(<Cell 'Top English Novels'.C1>, <Cell 'Top English Novels'.C2>, <Cell 'Top English Novels'.C3>, <Cell 'Top English Novels'.C4>, <Cell 'Top English Novels'.C5>, <Cell 'Top English Novels'.C6>, <Cell 'Top English Novels'.C7>, <Cell 'Top English Novels'.C8>, <Cell 'Top English Novels'.C9>, <Cell 'Top English Novels'.C10>, <Cell 'Top English Novels'.C11>, <Cell 'Top English Novels'.C12>, <Cell 'Top English Novels'.C13>, <Cell 'Top English Novels'.C14>, <Cell 'Top English Novels'.C15>, <Cell 'Top English Novels'.C16>, <Cell 'Top English Novels'.C17>, <Cell 'Top English Novels'.C18>, <Cell 'Top English Novels'.C19>, <Cell 'Top English Novels'.C20>, <Cell 'Top English Novels'.C21>, <Cell 'Top English Novels'.C22>, <Cell 'Top English Novels'.C23>, <Cell 'Top English Novels'.C24>, <Cell 'Top English Novels'.C25>, <Cell 'Top English Novels'.C26>, <Cell 'Top English Novels'.C27>, <Cell 'Top English Novels'.C28>, <Cell 'Top English Novels'.C29>, <Cell 'Top English Novels'.C30>, <Cell 'Top English Novels'.C31>, <Cell 'Top English Novels'.C32>, <Cell 'Top English Novels'.C33>, <Cell 'Top English Novels'.C34>, <Cell 'Top English Novels'.C35>, <Cell 'Top English Novels'.C36>, <Cell 'Top English Novels'.C37>, <Cell 'Top English Novels'.C38>, <Cell 'Top English Novels'.C39>, <Cell 'Top English Novels'.C40>, <Cell 'Top English Novels'.C41>, <Cell 'Top English Novels'.C42>, <Cell 'Top English Novels'.C43>, <Cell 'Top English Novels'.C44>, <Cell 'Top English Novels'.C45>, <Cell 'Top English Novels'.C46>, <Cell 'Top English Novels'.C47>, <Cell 'Top English Novels'.C48>, <Cell 'Top English Novels'.C49>, <Cell 'Top English Novels'.C50>, <Cell 'Top English Novels'.C51>, <Cell 'Top English Novels'.C52>, <Cell 'Top English Novels'.C53>, <Cell 'Top English Novels'.C54>, <Cell 'Top English Novels'.C55>, <Cell 'Top English Novels'.C56>, <Cell 'Top English Novels'.C57>, <Cell 'Top English Novels'.C58>, <Cell 'Top English Novels'.C59>, <Cell 'Top English Novels'.C60>, <Cell 'Top English Novels'.C61>, <Cell 'Top English Novels'.C62>, <Cell 'Top English Novels'.C63>, <Cell 'Top English Novels'.C64>, <Cell 'Top English Novels'.C65>, <Cell 'Top English Novels'.C66>, <Cell 'Top English Novels'.C67>, <Cell 'Top English Novels'.C68>, <Cell 'Top English Novels'.C69>, <Cell 'Top English Novels'.C70>, <Cell 'Top English Novels'.C71>, <Cell 'Top English Novels'.C72>, <Cell 'Top English Novels'.C73>, <Cell 'Top English Novels'.C74>, <Cell 'Top English Novels'.C75>, <Cell 'Top English Novels'.C76>, <Cell 'Top English Novels'.C77>, <Cell 'Top English Novels'.C78>, <Cell 'Top English Novels'.C79>, <Cell 'Top English Novels'.C80>, <Cell 'Top English Novels'.C81>, <Cell 'Top English Novels'.C82>, <Cell 'Top English Novels'.C83>, <Cell 'Top English Novels'.C84>, <Cell 'Top English Novels'.C85>, <Cell 'Top English Novels'.C86>, <Cell 'Top English Novels'.C87>, <Cell 'Top English Novels'.C88>, <Cell 'Top English Novels'.C89>, <Cell 'Top English Novels'.C90>, <Cell 'Top English Novels'.C91>, <Cell 'Top English Novels'.C92>, <Cell 'Top English Novels'.C93>, <Cell 'Top English Novels'.C94>, <Cell 'Top English Novels'.C95>, <Cell 'Top English Novels'.C96>, <Cell 'Top English Novels'.C97>, <Cell 'Top English Novels'.C98>, <Cell 'Top English Novels'.C99>, <Cell 'Top English Novels'.C100>, <Cell 'Top English Novels'.C101>)
(<Cell 'Top English Novels'.D1>, <Cell 'Top English Novels'.D2>, <Cell 'Top English Novels'.D3>, <Cell 'Top English Novels'.D4>, <Cell 'Top English Novels'.D5>, <Cell 'Top English Novels'.D6>, <Cell 'Top English Novels'.D7>, <Cell 'Top English Novels'.D8>, <Cell 'Top English Novels'.D9>, <Cell 'Top English Novels'.D10>, <Cell 'Top English Novels'.D11>, <Cell 'Top English Novels'.D12>, <Cell 'Top English Novels'.D13>, <Cell 'Top English Novels'.D14>, <Cell 'Top English Novels'.D15>, <Cell 'Top English Novels'.D16>, <Cell 'Top English Novels'.D17>, <Cell 'Top English Novels'.D18>, <Cell 'Top English Novels'.D19>, <Cell 'Top English Novels'.D20>, <Cell 'Top English Novels'.D21>, <Cell 'Top English Novels'.D22>, <Cell 'Top English Novels'.D23>, <Cell 'Top English Novels'.D24>, <Cell 'Top English Novels'.D25>, <Cell 'Top English Novels'.D26>, <Cell 'Top English Novels'.D27>, <Cell 'Top English Novels'.D28>, <Cell 'Top English Novels'.D29>, <Cell 'Top English Novels'.D30>, <Cell 'Top English Novels'.D31>, <Cell 'Top English Novels'.D32>, <Cell 'Top English Novels'.D33>, <Cell 'Top English Novels'.D34>, <Cell 'Top English Novels'.D35>, <Cell 'Top English Novels'.D36>, <Cell 'Top English Novels'.D37>, <Cell 'Top English Novels'.D38>, <Cell 'Top English Novels'.D39>, <Cell 'Top English Novels'.D40>, <Cell 'Top English Novels'.D41>, <Cell 'Top English Novels'.D42>, <Cell 'Top English Novels'.D43>, <Cell 'Top English Novels'.D44>, <Cell 'Top English Novels'.D45>, <Cell 'Top English Novels'.D46>, <Cell 'Top English Novels'.D47>, <Cell 'Top English Novels'.D48>, <Cell 'Top English Novels'.D49>, <Cell 'Top English Novels'.D50>, <Cell 'Top English Novels'.D51>, <Cell 'Top English Novels'.D52>, <Cell 'Top English Novels'.D53>, <Cell 'Top English Novels'.D54>, <Cell 'Top English Novels'.D55>, <Cell 'Top English Novels'.D56>, <Cell 'Top English Novels'.D57>, <Cell 'Top English Novels'.D58>, <Cell 'Top English Novels'.D59>, <Cell 'Top English Novels'.D60>, <Cell 'Top English Novels'.D61>, <Cell 'Top English Novels'.D62>, <Cell 'Top English Novels'.D63>, <Cell 'Top English Novels'.D64>, <Cell 'Top English Novels'.D65>, <Cell 'Top English Novels'.D66>, <Cell 'Top English Novels'.D67>, <Cell 'Top English Novels'.D68>, <Cell 'Top English Novels'.D69>, <Cell 'Top English Novels'.D70>, <Cell 'Top English Novels'.D71>, <Cell 'Top English Novels'.D72>, <Cell 'Top English Novels'.D73>, <Cell 'Top English Novels'.D74>, <Cell 'Top English Novels'.D75>, <Cell 'Top English Novels'.D76>, <Cell 'Top English Novels'.D77>, <Cell 'Top English Novels'.D78>, <Cell 'Top English Novels'.D79>, <Cell 'Top English Novels'.D80>, <Cell 'Top English Novels'.D81>, <Cell 'Top English Novels'.D82>, <Cell 'Top English Novels'.D83>, <Cell 'Top English Novels'.D84>, <Cell 'Top English Novels'.D85>, <Cell 'Top English Novels'.D86>, <Cell 'Top English Novels'.D87>, <Cell 'Top English Novels'.D88>, <Cell 'Top English Novels'.D89>, <Cell 'Top English Novels'.D90>, <Cell 'Top English Novels'.D91>, <Cell 'Top English Novels'.D92>, <Cell 'Top English Novels'.D93>, <Cell 'Top English Novels'.D94>, <Cell 'Top English Novels'.D95>, <Cell 'Top English Novels'.D96>, <Cell 'Top English Novels'.D97>, <Cell 'Top English Novels'.D98>, <Cell 'Top English Novels'.D99>, <Cell 'Top English Novels'.D100>, <Cell 'Top English Novels'.D101>)

In [84]:
for cell in ws['D']:
    print(cell.value)

Rank
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [85]:
for col in ws.iter_cols(min_col=2, max_col=4):
    print(col)

(<Cell 'Top English Novels'.B1>, <Cell 'Top English Novels'.B2>, <Cell 'Top English Novels'.B3>, <Cell 'Top English Novels'.B4>, <Cell 'Top English Novels'.B5>, <Cell 'Top English Novels'.B6>, <Cell 'Top English Novels'.B7>, <Cell 'Top English Novels'.B8>, <Cell 'Top English Novels'.B9>, <Cell 'Top English Novels'.B10>, <Cell 'Top English Novels'.B11>, <Cell 'Top English Novels'.B12>, <Cell 'Top English Novels'.B13>, <Cell 'Top English Novels'.B14>, <Cell 'Top English Novels'.B15>, <Cell 'Top English Novels'.B16>, <Cell 'Top English Novels'.B17>, <Cell 'Top English Novels'.B18>, <Cell 'Top English Novels'.B19>, <Cell 'Top English Novels'.B20>, <Cell 'Top English Novels'.B21>, <Cell 'Top English Novels'.B22>, <Cell 'Top English Novels'.B23>, <Cell 'Top English Novels'.B24>, <Cell 'Top English Novels'.B25>, <Cell 'Top English Novels'.B26>, <Cell 'Top English Novels'.B27>, <Cell 'Top English Novels'.B28>, <Cell 'Top English Novels'.B29>, <Cell 'Top English Novels'.B30>, <Cell 'Top English Novels'.B31>, <Cell 'Top English Novels'.B32>, <Cell 'Top English Novels'.B33>, <Cell 'Top English Novels'.B34>, <Cell 'Top English Novels'.B35>, <Cell 'Top English Novels'.B36>, <Cell 'Top English Novels'.B37>, <Cell 'Top English Novels'.B38>, <Cell 'Top English Novels'.B39>, <Cell 'Top English Novels'.B40>, <Cell 'Top English Novels'.B41>, <Cell 'Top English Novels'.B42>, <Cell 'Top English Novels'.B43>, <Cell 'Top English Novels'.B44>, <Cell 'Top English Novels'.B45>, <Cell 'Top English Novels'.B46>, <Cell 'Top English Novels'.B47>, <Cell 'Top English Novels'.B48>, <Cell 'Top English Novels'.B49>, <Cell 'Top English Novels'.B50>, <Cell 'Top English Novels'.B51>, <Cell 'Top English Novels'.B52>, <Cell 'Top English Novels'.B53>, <Cell 'Top English Novels'.B54>, <Cell 'Top English Novels'.B55>, <Cell 'Top English Novels'.B56>, <Cell 'Top English Novels'.B57>, <Cell 'Top English Novels'.B58>, <Cell 'Top English Novels'.B59>, <Cell 'Top English Novels'.B60>, <Cell 'Top English Novels'.B61>, <Cell 'Top English Novels'.B62>, <Cell 'Top English Novels'.B63>, <Cell 'Top English Novels'.B64>, <Cell 'Top English Novels'.B65>, <Cell 'Top English Novels'.B66>, <Cell 'Top English Novels'.B67>, <Cell 'Top English Novels'.B68>, <Cell 'Top English Novels'.B69>, <Cell 'Top English Novels'.B70>, <Cell 'Top English Novels'.B71>, <Cell 'Top English Novels'.B72>, <Cell 'Top English Novels'.B73>, <Cell 'Top English Novels'.B74>, <Cell 'Top English Novels'.B75>, <Cell 'Top English Novels'.B76>, <Cell 'Top English Novels'.B77>, <Cell 'Top English Novels'.B78>, <Cell 'Top English Novels'.B79>, <Cell 'Top English Novels'.B80>, <Cell 'Top English Novels'.B81>, <Cell 'Top English Novels'.B82>, <Cell 'Top English Novels'.B83>, <Cell 'Top English Novels'.B84>, <Cell 'Top English Novels'.B85>, <Cell 'Top English Novels'.B86>, <Cell 'Top English Novels'.B87>, <Cell 'Top English Novels'.B88>, <Cell 'Top English Novels'.B89>, <Cell 'Top English Novels'.B90>, <Cell 'Top English Novels'.B91>, <Cell 'Top English Novels'.B92>, <Cell 'Top English Novels'.B93>, <Cell 'Top English Novels'.B94>, <Cell 'Top English Novels'.B95>, <Cell 'Top English Novels'.B96>, <Cell 'Top English Novels'.B97>, <Cell 'Top English Novels'.B98>, <Cell 'Top English Novels'.B99>, <Cell 'Top English Novels'.B100>, <Cell 'Top English Novels'.B101>)
(<Cell 'Top English Novels'.C1>, <Cell 'Top English Novels'.C2>, <Cell 'Top English Novels'.C3>, <Cell 'Top English Novels'.C4>, <Cell 'Top English Novels'.C5>, <Cell 'Top English Novels'.C6>, <Cell 'Top English Novels'.C7>, <Cell 'Top English Novels'.C8>, <Cell 'Top English Novels'.C9>, <Cell 'Top English Novels'.C10>, <Cell 'Top English Novels'.C11>, <Cell 'Top English Novels'.C12>, <Cell 'Top English Novels'.C13>, <Cell 'Top English Novels'.C14>, <Cell 'Top English Novels'.C15>, <Cell 'Top English Novels'.C16>, <Cell 'Top English Novels'.C17>, <Cell 'Top English Novels'.C18>, <Cell 'Top English Novels'.C19>, <Cell 'Top English Novels'.C20>, <Cell 'Top English Novels'.C21>, <Cell 'Top English Novels'.C22>, <Cell 'Top English Novels'.C23>, <Cell 'Top English Novels'.C24>, <Cell 'Top English Novels'.C25>, <Cell 'Top English Novels'.C26>, <Cell 'Top English Novels'.C27>, <Cell 'Top English Novels'.C28>, <Cell 'Top English Novels'.C29>, <Cell 'Top English Novels'.C30>, <Cell 'Top English Novels'.C31>, <Cell 'Top English Novels'.C32>, <Cell 'Top English Novels'.C33>, <Cell 'Top English Novels'.C34>, <Cell 'Top English Novels'.C35>, <Cell 'Top English Novels'.C36>, <Cell 'Top English Novels'.C37>, <Cell 'Top English Novels'.C38>, <Cell 'Top English Novels'.C39>, <Cell 'Top English Novels'.C40>, <Cell 'Top English Novels'.C41>, <Cell 'Top English Novels'.C42>, <Cell 'Top English Novels'.C43>, <Cell 'Top English Novels'.C44>, <Cell 'Top English Novels'.C45>, <Cell 'Top English Novels'.C46>, <Cell 'Top English Novels'.C47>, <Cell 'Top English Novels'.C48>, <Cell 'Top English Novels'.C49>, <Cell 'Top English Novels'.C50>, <Cell 'Top English Novels'.C51>, <Cell 'Top English Novels'.C52>, <Cell 'Top English Novels'.C53>, <Cell 'Top English Novels'.C54>, <Cell 'Top English Novels'.C55>, <Cell 'Top English Novels'.C56>, <Cell 'Top English Novels'.C57>, <Cell 'Top English Novels'.C58>, <Cell 'Top English Novels'.C59>, <Cell 'Top English Novels'.C60>, <Cell 'Top English Novels'.C61>, <Cell 'Top English Novels'.C62>, <Cell 'Top English Novels'.C63>, <Cell 'Top English Novels'.C64>, <Cell 'Top English Novels'.C65>, <Cell 'Top English Novels'.C66>, <Cell 'Top English Novels'.C67>, <Cell 'Top English Novels'.C68>, <Cell 'Top English Novels'.C69>, <Cell 'Top English Novels'.C70>, <Cell 'Top English Novels'.C71>, <Cell 'Top English Novels'.C72>, <Cell 'Top English Novels'.C73>, <Cell 'Top English Novels'.C74>, <Cell 'Top English Novels'.C75>, <Cell 'Top English Novels'.C76>, <Cell 'Top English Novels'.C77>, <Cell 'Top English Novels'.C78>, <Cell 'Top English Novels'.C79>, <Cell 'Top English Novels'.C80>, <Cell 'Top English Novels'.C81>, <Cell 'Top English Novels'.C82>, <Cell 'Top English Novels'.C83>, <Cell 'Top English Novels'.C84>, <Cell 'Top English Novels'.C85>, <Cell 'Top English Novels'.C86>, <Cell 'Top English Novels'.C87>, <Cell 'Top English Novels'.C88>, <Cell 'Top English Novels'.C89>, <Cell 'Top English Novels'.C90>, <Cell 'Top English Novels'.C91>, <Cell 'Top English Novels'.C92>, <Cell 'Top English Novels'.C93>, <Cell 'Top English Novels'.C94>, <Cell 'Top English Novels'.C95>, <Cell 'Top English Novels'.C96>, <Cell 'Top English Novels'.C97>, <Cell 'Top English Novels'.C98>, <Cell 'Top English Novels'.C99>, <Cell 'Top English Novels'.C100>, <Cell 'Top English Novels'.C101>)
(<Cell 'Top English Novels'.D1>, <Cell 'Top English Novels'.D2>, <Cell 'Top English Novels'.D3>, <Cell 'Top English Novels'.D4>, <Cell 'Top English Novels'.D5>, <Cell 'Top English Novels'.D6>, <Cell 'Top English Novels'.D7>, <Cell 'Top English Novels'.D8>, <Cell 'Top English Novels'.D9>, <Cell 'Top English Novels'.D10>, <Cell 'Top English Novels'.D11>, <Cell 'Top English Novels'.D12>, <Cell 'Top English Novels'.D13>, <Cell 'Top English Novels'.D14>, <Cell 'Top English Novels'.D15>, <Cell 'Top English Novels'.D16>, <Cell 'Top English Novels'.D17>, <Cell 'Top English Novels'.D18>, <Cell 'Top English Novels'.D19>, <Cell 'Top English Novels'.D20>, <Cell 'Top English Novels'.D21>, <Cell 'Top English Novels'.D22>, <Cell 'Top English Novels'.D23>, <Cell 'Top English Novels'.D24>, <Cell 'Top English Novels'.D25>, <Cell 'Top English Novels'.D26>, <Cell 'Top English Novels'.D27>, <Cell 'Top English Novels'.D28>, <Cell 'Top English Novels'.D29>, <Cell 'Top English Novels'.D30>, <Cell 'Top English Novels'.D31>, <Cell 'Top English Novels'.D32>, <Cell 'Top English Novels'.D33>, <Cell 'Top English Novels'.D34>, <Cell 'Top English Novels'.D35>, <Cell 'Top English Novels'.D36>, <Cell 'Top English Novels'.D37>, <Cell 'Top English Novels'.D38>, <Cell 'Top English Novels'.D39>, <Cell 'Top English Novels'.D40>, <Cell 'Top English Novels'.D41>, <Cell 'Top English Novels'.D42>, <Cell 'Top English Novels'.D43>, <Cell 'Top English Novels'.D44>, <Cell 'Top English Novels'.D45>, <Cell 'Top English Novels'.D46>, <Cell 'Top English Novels'.D47>, <Cell 'Top English Novels'.D48>, <Cell 'Top English Novels'.D49>, <Cell 'Top English Novels'.D50>, <Cell 'Top English Novels'.D51>, <Cell 'Top English Novels'.D52>, <Cell 'Top English Novels'.D53>, <Cell 'Top English Novels'.D54>, <Cell 'Top English Novels'.D55>, <Cell 'Top English Novels'.D56>, <Cell 'Top English Novels'.D57>, <Cell 'Top English Novels'.D58>, <Cell 'Top English Novels'.D59>, <Cell 'Top English Novels'.D60>, <Cell 'Top English Novels'.D61>, <Cell 'Top English Novels'.D62>, <Cell 'Top English Novels'.D63>, <Cell 'Top English Novels'.D64>, <Cell 'Top English Novels'.D65>, <Cell 'Top English Novels'.D66>, <Cell 'Top English Novels'.D67>, <Cell 'Top English Novels'.D68>, <Cell 'Top English Novels'.D69>, <Cell 'Top English Novels'.D70>, <Cell 'Top English Novels'.D71>, <Cell 'Top English Novels'.D72>, <Cell 'Top English Novels'.D73>, <Cell 'Top English Novels'.D74>, <Cell 'Top English Novels'.D75>, <Cell 'Top English Novels'.D76>, <Cell 'Top English Novels'.D77>, <Cell 'Top English Novels'.D78>, <Cell 'Top English Novels'.D79>, <Cell 'Top English Novels'.D80>, <Cell 'Top English Novels'.D81>, <Cell 'Top English Novels'.D82>, <Cell 'Top English Novels'.D83>, <Cell 'Top English Novels'.D84>, <Cell 'Top English Novels'.D85>, <Cell 'Top English Novels'.D86>, <Cell 'Top English Novels'.D87>, <Cell 'Top English Novels'.D88>, <Cell 'Top English Novels'.D89>, <Cell 'Top English Novels'.D90>, <Cell 'Top English Novels'.D91>, <Cell 'Top English Novels'.D92>, <Cell 'Top English Novels'.D93>, <Cell 'Top English Novels'.D94>, <Cell 'Top English Novels'.D95>, <Cell 'Top English Novels'.D96>, <Cell 'Top English Novels'.D97>, <Cell 'Top English Novels'.D98>, <Cell 'Top English Novels'.D99>, <Cell 'Top English Novels'.D100>, <Cell 'Top English Novels'.D101>)

The row/column approach can be combined to iterate through all cells by iterating down rows and then across columns.

In [88]:
for col in ws.columns:
    for cell in col:
        print(cell.value)

Author
PG Wodehouse
Ali Smith
Malcolm Lowry
CS Lewis
Doris Lessing
Hanif Kureishi
James Hogg
William Golding
Stella Gibbons
John Galsworthy
Wilkie Collins
Joyce Cary
Elizabeth Bowen
Arnold Bennett
Sybille Bedford
Pat Barker
Evelyn Waugh
Anthony Trollope
Edward St Aubyn
Paul Scott
Barbara Pym
Philip Pullman
VS Naipaul
W Somerset Maugham
Andrea Levy
DH Lawrence
Thomas Hardy
Penelope Fitzgerald
Graham Greene
Jane Gardam
George Eliot
Joseph Conrad
Anthony Burgess
JG  Ballard 1973)
Jane Austen
Virginia Woolf
Anthony Trollope
Muriel Spark
George Orwell
Iris Murdoch
DH Lawrence
Alan Hollinghurst
Henry Green
Ford Madox Ford
Jeanette Winterson
Jonathan Swift
Zadie Smith
Jean Rhys
George Gissing
Thomas Hardy
EM Forster
AS Byatt
Kingsley Amis
Laurence Sterne
Salman Rushdie
Sarah Waters
Hilary Mantel
Alan Hollinghurst
Graham Greene
Charles Dickens
Lewis Carroll
Julian Barnes
Jeanette Winterson
Evelyn Waugh
Anthony Powell
Tom McCarthy
Kazuo Ishiguro
Kenneth Grahame
EM Forster
Graham Greene
Daniel Defoe
Monica Ali
Charlotte Brontë
Daniel Defoe
JRR Tolkien
Zadie Smith
Doris Lessing
Thomas Hardy
Henry Fielding
Joseph Conrad
Jane Austen
Jane Austen
Kazuo Ishiguro
EM Forster
Virginia Woolf
Ian McEwan
Samuel Richardson
Ford Madox Ford
George Orwell
Jane Austen
William Makepeace Thackeray
Mary Shelley
Charles Dickens
Emily Brontë
Charles Dickens
Charlotte Brontë
Charles Dickens
Virginia Woolf
Virginia Woolf
George Eliot
Title
The Code of the Woosters
There but for the
Under the Volcano
The Chronicles of Narnia
Memoirs of a Survivor
The Buddha of Suburbia
The Private Memoirs and Confessions of a Justified Sinner
Lord of the Flies
Cold Comfort Farm
The Forsyte Saga
The Woman in White
The Horse’s Mouth
The Death of the Heart
The Old Wives’ Tale
A Legacy
Regeneration Trilogy
Scoop
Barchester Towers
The Patrick Melrose Novels
The Jewel in the Crown
Excellent Women
His Dark Materials
A House for Mr Biswas
Of Human Bondage
Small Island
Women in Love
The Mayor of Casterbridge
The Blue Flower
The Heart of the Matter
Old Filth
Daniel Deronda
Nostromo
A Clockwork Orange
Crash
Sense and Sensibility
Orlando
The Way We Live Now
The Prime of Miss Jean Brodie
Animal Farm
The Sea, The Sea
Sons and Lovers
The Line of Beauty
Loving
Parade’s End
Oranges Are Not the Only Fruit
Gulliver’s Travels
NW
Wide Sargasso Sea
New Grub Street
Tess of the d’Urbervilles
A Passage to India
Possession
Lucky Jim
The Life and Opinions of Tristram Shandy, Gentleman
Midnight’s Children
The Little Stranger
Wolf Hall
The Swimming Pool Library
Brighton Rock
Dombey and Son
Alice’s Adventures in Wonderland
The Sense of an Ending
The Passion
Decline and Fall
A Dance to the Music of Time
Remainder
Never Let Me Go
The Wind in the Willows
A Room with a View
The End of the Affair
Moll Flanders
Brick Lane
Villette
Robinson Crusoe
The Lord of the Rings
White Teeth
The Golden Notebook
Jude the Obscure
The History of Tom Jones, a Foundling
Heart of Darkness
Persuasion
Emma
Remains of the Day
Howards End
The Waves
Atonement
Clarissa
The Good Soldier
Nineteen Eighty-Four
Pride and Prejudice
Vanity Fair
Frankenstein
David Copperfield
Wuthering Heights
Bleak House
Jane Eyre
Great Expectations
Mrs. Dalloway
To the Lighthouse
Middlemarch
Year
1938
2011
1947
1954
1974
1990
1824
1954
1932
1922
1859
1944
1938
1908
1956
1995
1938
1857
2012
1966
1952
2000
1961
1915
2004
1920
1886
1995
1948
2004
1876
1904
1962
1973
1811
1928
1875
1961
1945
1978
1913
2004
1945
1928
1985
1726
2012
1966
1891
1891
1924
1990
1954
1759
1981
2009
2009
1988
1938
1848
1865
2011
1987
1928
1975
2005
2005
1908
1908
1951
1722
2003
1853
1719
1954
2000
1962
1895
1749
1899
1817
1815
1989
1910
1931
2001
1748
1915
1949
1813
1848
1818
1850
1847
1853
1847
1861
1925
1927
1874
Rank
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

We can add data to our worksheets in a similar manner. In the example below, we add a header to cell E1 and then add a formula to all cells in that column.

In [89]:
ws['E1'].value = "Age"
for cell in ws['E']:
    if cell.row > 1:
        cell.value = "=2019 - C" + str(cell.row)

## Creating Charts
Openpyxl gives full access to Excel, including the ability to create charts. For more information on creating charts, please refer to the documentation: https://openpyxl.readthedocs.io/en/stable/charts/introduction.html.
In the following example, we create a chart from data in our workbook. 

First, we transform the novel list and group novels by decade.

In [90]:
decadesDict = {}
for cell in ws['C']:
    if cell.row > 1:
        decadesDict.setdefault(str(10 * int(int(cell.value)/10)),0)
        decadesDict[str(10 * int(int(cell.value)/10))] += 1

In [91]:
decadesDict

{'1710': 1,
 '1720': 2,
 '1740': 2,
 '1750': 1,
 '1810': 5,
 '1820': 1,
 '1840': 4,
 '1850': 5,
 '1860': 2,
 '1870': 3,
 '1880': 1,
 '1890': 4,
 '1900': 4,
 '1910': 4,
 '1920': 8,
 '1930': 6,
 '1940': 6,
 '1950': 7,
 '1960': 6,
 '1970': 4,
 '1980': 5,
 '1990': 4,
 '2000': 11,
 '2010': 4}

We then add this data to a new worksheet and build a bar chart from the results.

In [93]:
wbEmpty.create_sheet('Chart')
wsChart = wbEmpty['Chart']
wsChart.append(['Decade', 'Count'])
for decade in sorted(decadesDict.keys()):
    wsChart.append([decade, decadesDict[decade]])

The code above initializes the chart as a Bar Chart (“bar” and 11 are values that represent the type of bar chart we are creating). The chart title and the axes titles are similarly set.

In [94]:
from openpyxl.chart import BarChart, Reference

In [95]:
chart = BarChart()
chart.type = "bar"
chart.style = 11
chart.title = "Novels by Decade"
chart.y_axis.title = 'Novels Published'
chart.x_axis.title = 'Decade'

These lines identify the data that will be graphed (the counts, including the column header). And the categories that will be used to group the data (the decades, not including the column header). This is done by constructing a string that represents the range for the data. The string should resemble the type of string used to identify a range of cells in Excel: ‘Chart’!B1:B25.

In [96]:
data = Reference(wsChart, range_string=wsChart.title + "!B1:B" + str(wsChart.max_row))
categories = Reference(wsChart, range_string=wsChart.title + "!A2:A" + str(wsChart.max_row))

The following lines define additional chart parameters including height, width and position of the chart.

In [97]:
chart.add_data(data, titles_from_data=True)
chart.set_categories(categories)
chart.height = 20
chart.width = 10
chart.shape = 4
wsChart.add_chart(chart, "D1")

<img src="http://thislondonhouse.hopto.org/Jupyter/Images/11-Excel-03.png" width="50%" />

## Saving Workbooks
To save your workbook, simply call the .save() method and pass in a file name.

In [98]:
wbEmpty.save('support/novels.xlsx')